@(greeting: String)

<link rel="stylesheet" href='@routes.AssetsController.versioned("stylesheets/tailwindbase.css")'>
<script src='@routes.AssetsController.versioned("svelte/components/greeting-form.js")'></script>
<link rel="stylesheet" href='@routes.AssetsController.versioned("svelte/components/greeting-form.css")'>

<div id="app"></div>

<script>
  new GreetingForm.default({
    target: document.getElementById('app'),
    props: {
      greeting: @Html(libraries.Renderer(greeting))
    }
  });
</script>
